<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>We need this to track your sleep </string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need this to track your sleep </string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>We need this to track your sleep </string>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-Black.otf</string>
		<string>CircularStd-Bold.otf</string>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-Light.otf</string>
		<string>CircularStd-Medium.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-992655562197-ios-a106ce95e674f40afed95c</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
