<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key>API_KEY</key>
	<string>AIzaSyAfS7ykzfnVLJ6lwmgL8t-NowVsWQw57zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>992655562197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Treehacks.Curo</string>
	<key>PROJECT_ID</key>
	<string>vigor-f7d30</string>
	<key>STORAGE_BUCKET</key>
	<string>vigor-f7d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992655562197:ios:a106ce95e674f40afed95c</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string></string>
					<key>UISceneDelegateClassName</key>
					<string></string>
					<key>UISceneConfigurationName</key>
					<string></string>
					<key>UISceneStoryboardFile</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
